.wrapper
  = render "shared/header"
.row
  - @videos.each do |video|
    .content
      .content__left
        .content__left--image
      .content__right
        .content__right__top
          = link_to video.title, video_path(video.id), class: "content__right__top--title"
        .content__right__bottom
          = video.youtuber_name
          = video.detail
          .content__right__bottom--userName
            = video.user.user_name
          .content__right__bottom--date
            =video.url
            -# = video.created_at