.header
  %ul.header__title-lists
    %li.title-list
      = link_to '/', class: "home-link" do
        = icon('fab', 'youtube',class: 'youtube-icon')
        %p.title
          YOUREVI
    %li.title-list
      %h3.sub-title
        \- ユーレビ -

  %ul.header__lists
    %li.list
      = link_to new_video_path, class: "header__right--btn" do
        プレゼンする
    %li.list
      = link_to videos_path, class: "header__right--btn" do
        投稿一覧
    %li.list
      - if user_signed_in?
        -# = link_to "#", class: "header__right--btn" do
        -#   = current_user
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__right--btn"
      - else
        = link_to "ログイン", new_user_session_path, class: "header__right--btn"